body{
    font-family: 'Roboto Slab', serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
#font{
    text-align: center;
}
.name-highlight{
 color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.link-btn{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(45deg,red,rgb(255, 0, 0));
    padding: 15px 50px;
    border-radius: 5px;
    color:rgb(229, 255, 0);
    font-weight: 700;
    
}
#chat{
    text-align: center;
    margin: 10 10;
    padding: 10px;
    float: right;
}

.latest-project{
    border: 1px,solid,#808080; 
    float: left;
    width: 33.33%;
    padding: 3px;
    box-sizing: border-box;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .Work Inquiry {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
